.server-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;

  .prev, .next {
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 1rem;
    background: darkblue;
    padding: 1rem;
    color: #fff;
    box-shadow: 1px 1px 1px 1px #ccc;
  }

  label {
    >input {
      padding: 1rem 5px;
      width: 3rem;
    }
  }
}
