<h1>Gallery / <span><a [routerLink]="['/favorite']">See You Favorite Photos</a></span></h1>

<div class="gallery-container">
  <div class="img-wrapper" *ngFor="let photo of photos$ | async">
    <img [src]="photo?.urls.regular" alt=""> <br>
    <label for="">
      <input type="checkbox"
             [checked]="checkedInput(photo.id)"
             (change)="onInputChange($event, photo)">
      Add to you favorite
    </label>
  </div>
</div>

<div class="server-pagination">
  <div class="prev" (click)="toPrevPage()">Prev</div>
  <label>
    Go to Page
    <input
      type="number"
      value="1"
      step="1"
      #pageInput (keydown)="onKeydown($event)">
  </label>
  <div class="next" (click)="toNextPage()">Next</div>
</div>
